<div class="main-register">
  <div class="register-head">
    <div class="register-head-div1">
      <div class="img">
        <img src="./logo.png" alt="" />
      </div>
      <div class="logo-name">
        <h1>Student Registration</h1>
        <p>Skill Development Hub</p>
      </div>
    </div>

    <div class="register-head-div2">

    </div>
  </div>

  <!-- -------------Module Section---------------------------------- -->

  <div class="module-sec">
    <div class="module">
      <p class="module-num num1">1</p>
      <p class="num1-p">Personal</p>
    </div>
    <div class="module">
      <p class="module-num num1">2</p>
      <p class="num1-p">Education</p>
    </div>
    <div class="module">
      <p class="module-num num1">3</p>
      <p class="num1-p">Declaration</p>
    </div>
  </div>

  <!-- ------------Form Section---------------------------------------- -->

  <div class="form-section">
    <h2>Declaration and Submission</h2>
    <form action="register-education" method="post">
      <div class="declare">
        <input type="checkbox" id="checkbox" name="checkbox" />
        <p>
          I declare that all the information given here is true and complete to
          the best of my knowledge.I understand that false or misleading
          information may result in my rejection of the application.
        </p>
      </div>

      <div class="main-input">
        <div class="sub-input">
          <label for="Signiture">Student's Signiture</label><br />
          <input
            type="text"
            id="signiture"
            name="signiture"
            placeholder="Type full name to sign"
            required
          />
        </div>
        <div class="sub-input">
          <label for="Signiture">Parent/Guardian Signiture</label><br />
          <input
            type="text"
            id="parent-signiture"
            name="parent-signiture"
            placeholder="Type full name to sign"
            required
          />
        </div>
      </div>

      <label for="date">Date</label><br />
      <input type="date" id="date" name="date" placeholder="date" required />

      <div class="enclosures">
        <p>ENCLOSURES</p>
        <ul>
          <li>Passport size photo</li>
          <li>Copy of Adhar Card</li>
          <li>Copy of photo ID proof</li>
          <li>Copy of collage ID card</li>
          <li>Original Certificate</li>
          <li>Income Certificate</li>
        </ul>
      </div>

      <div class="next-btn">
        <a class="Previous" href="register-education">Previous</a>
        <a type="submit" class="btn" href="#">Submit Registration</a>
      </div>
    </form>
  </div>
</div>
