<div class="main-register">
  <div class="register-head">
    <div class="register-head-div1">
      <div class="img">
        <img src="./logo.png" alt="" />
      </div>
      <div class="logo-name">
        <h1>Student Registration</h1>
        <p>Skill Development Hub</p>
      </div>
    </div>
    
    <div class="register-head-div2">
      <p>Upload Passport Size Photo</p>
      <div>
        <input type="file" accept="image/*" id="passportPhoto">
      </div>
      
      
    </div>
  </div>
</div>
<!-- -------------Module Section---------------------------------- -->

<!-- <div class="module-sec">
  <div class="module">
    <p class="module-num num1">1</p>
    <p class="num1-p">Personal</p>
  </div>
  <div class="module">
    <p class="module-num">2</p>
    <p>Education</p>
  </div>
  <div class="module">
    <p class="module-num">3</p>
    <p>Declaration</p>
  </div>
</div> -->

<!-- ------------Form Section---------------------------------------- -->
<mat-stepper>
  <mat-step>
<div class="form-section">
      <h2>Applicant Information</h2>
  
      <form action="register" method="post">
        <div class="form-div1">
          <div class="form-div-sub">
            <label for="Student Id">Student ID</label><br />
            <input
              type="text"
              name="Student Id"
              placeholder="Enter Student ID"
              required
            />
          </div>
          <div class="form-div-sub">
            <label for="date">Application Date</label><br />
            <input type="date" name="date" placeholder="date" required />
          </div>
        </div>
  
        <label for="name">Full Name</label><br />
        <div class="full-name-input">
          <input
            class="name"
            type="text"
            name="Firstname"
            placeholder="First Name"
            required
          />
          <input
            class="name"
            type="text"
            name="Middlename"
            placeholder="Middle Name"
            required
          />
          <input
            class="name"
            type="text"
            name="Lastname"
            placeholder="Last Name"
            required
          />
        </div>
  
        <label for="name">Father's Name</label><br />
        <div class="full-name-input">
          <input
            class="name"
            type="text"
            name="Firstname"
            placeholder="First Name"
            required
          />
          <input
            class="name"
            type="text"
            name="Middlename"
            placeholder="Middle Name"
            required
          />
          <input
            class="name"
            type="text"
            name="Lastname"
            placeholder="Last Name"
            required
          />
        </div>
  
        <div class="form-div1">
          <div class="form-div-sub">
            <label for="date">Date Of Birth</label><br />
            <input
              class="d-o-b"
              type="date"
              name="date"
              placeholder="date"
              required
            />
          </div>
          <div class="form-div-sub">
            <label for="number">Phone No</label><br />
            <input
              class="input-phone"
              type="number"
              name="number"
              placeholder="Enter Your Phone Number"
              required
            />
          </div>
          <div class="form-div-sub">
            <label for="mail">Email</label><br />
            <input
              type="email"
              name="mail"
              placeholder="Enter Your Email"
              required
            />
          </div>
        </div>
        <label for="Address">Address(Permanent)</label><br />
        <textarea
          rows="2"
          placeholder="Enter Your Permanent Address"
          required
        ></textarea>
  
        <div class="form-div1">
          <div class="form-div-sub">
            <label for="contact">Parent/Guardian Contact Details</label><br />
            <input type="text" placeholder="Enter Contact Details" />
          </div>
          <div class="form-div-sub">
            <label for="Income">Total Household Income</label><br />
            <input type="text" placeholder="Enter Household Income Details" />
          </div>
        </div>
      </form>
  
      <!-- <div class="next-btn">
        <a href="register-education" class="btn">Next</a>
      </div> -->
    </div>
    <div class="next-btn">
      <button mat-button matStepperNext>Next</button>
    </div>
  </mat-step>
  


<!-- REGISTRATION EDUCATION -->

  <!-- <div class="main-register">
    <div class="register-head">
      <div class="register-head-div1">
        <div class="img">
          <img src="./logo.png" alt="" />
        </div>
        <div class="logo-name">
          <h1>Student Registration</h1>
          <p>Skill Development Hub</p>
        </div>
      </div>
    </div> -->
  
    <!-- -------------Module Section---------------------------------- -->
  
    <!-- <div class="module-sec">
      <div class="module">
        <p class="module-num num1">1</p>
        <p class="num1-p">Personal</p>
      </div>
      <div class="module">
        <p class="module-num num1">2</p>
        <p class="num1-p">Education</p>
      </div>
      <div class="module">
        <p class="module-num">3</p>
        <p>Declaration</p>
      </div>
    </div> -->
  
    <!-- ------------Form Section---------------------------------------- -->
<mat-step>
    <div class="form-section">
      <h2>Course Details</h2>
        <form action="register-education" method="post">

            <label for="Course">Course Apply For</label><br>
            <select name="Course" id="course">
                <option value="" disabled selected>Select a Course</option>
                <option value="Web Development">Web Development</option>
                <option value="Data Analyst">Data Analyst</option>
                <option value="Tally">Tally</option>
                <option value="Digital Marketing">Digital Marketing</option>
            </select>

            <div class="main-input">
                <div class="sub-input">
                    <label for="Degree">Degree</label><br>
                    <input type="text" id="degree" name="degree" placeholder="Enter Your Degree" required>
                </div>
                <div class="sub-input">
                    <label for="Collage Name">Collage Name</label><br>
                    <input type="text" id="collage" name="collage" placeholder="Enter Your Collage Name" required>
                </div>
            </div>

            <div class="main-input">
                <div class="sub-input">
                    <label for="Year Of Passing">Year Of Passing</label><br>
                    <input type="text" id="passing" name="passing" placeholder="Enter Year Of Passing" required>
                </div>
                <div class="sub-input">
                    <label for="Percentage">Percentage</label><br>
                    <input type="text" id="percentage" name="percentage" placeholder="Enter Your Percentage" required>
                </div>
            </div>

        </form>
      
  
      <!-- <div class="next-btn">
        <a class="Previous" href="register">Previous</a>
        <a class="btn" href="register-declaration">Next</a>
      </div> -->
</div>
<div class="next-btn">
  <button mat-button matStepperPrevious>Back</button>
  <button mat-button matStepperNext>Next</button>
</div>
</mat-step>

  <!-- register-declaration -->


  <!-- <div class="main-register">
    <div class="register-head">
      <div class="register-head-div1">
        <div class="img">
          <img src="./logo.png" alt="" />
        </div>
        <div class="logo-name">
          <h1>Student Registration</h1>
          <p>Skill Development Hub</p>
        </div>
      </div>
  
    </div> -->
  
    <!-- -------------Module Section---------------------------------- -->
  
    <!-- <div class="module-sec">
      <div class="module">
        <p class="module-num num1">1</p>
        <p class="num1-p">Personal</p>
      </div>
      <div class="module">
        <p class="module-num num1">2</p>
        <p class="num1-p">Education</p>
      </div>
      <div class="module">
        <p class="module-num num1">3</p>
        <p class="num1-p">Declaration</p>
      </div>
    </div> -->
  
    <!-- ------------Form Section---------------------------------------- -->
  <mat-step>
    <div class="form-section">
      <h2>Declaration and Submission</h2>
      <form action="register-education" method="post">
        <div class="declare">
          
          <p>
            I declare that all the information given here is true and complete to
            the best of my knowledge.I understand that false or misleading
            information may result in my rejection of the application.
          </p>
          <input type="checkbox" id="checkbox" name="checkbox" />
          <!-- <mat-checkbox [aria-label]="isSubscribedToEmailsMessage">
          </mat-checkbox> -->
        </div>
  
        <div class="main-input">
          <div class="sub-input">
            <label for="Signiture">Student's Signiture</label><br />
            <input
              type="text"
              id="signiture"
              name="signiture"
              placeholder="Type full name to sign"
              required
            />
          </div>
          <div class="sub-input">
            <label for="Signiture">Parent/Guardian Signiture</label><br />
            <input
              type="text"
              id="parent-signiture"
              name="parent-signiture"
              placeholder="Type full name to sign"
              required
            />
          </div>
        </div>
  
        <label for="date">Date</label><br />
        <input type="date" id="date" name="date" placeholder="date" required />
  
        <div class="enclosures">
          <p>ENCLOSURES</p>
          <ul>
            <li>Passport size photo</li>
            <li>Copy of Adhar Card</li>
            <li>Copy of photo ID proof</li>
            <li>Copy of collage ID card</li>
            <li>Original Certificate</li>
            <li>Income Certificate</li>
          </ul>
        </div>
  
        <!-- <div class="next-btn">
          <a class="Previous" href="register-education">Previous</a>
          <a type="submit" class="btn" href="#">Submit Registration</a>
        </div> -->
      </form>
    </div>
    <div class="next-btn">
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button>Submit</button>
    </div>
  </mat-step>
</mat-stepper>
